# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/
test_env/

# Credentials
token.json
client_secrets.json
credentials.json
local_tasks.json

# Build artifacts
dist/
build/
*.egg-info/

# Dev Artifacts
*.log
*.sw*
todo.md
.aider*
